
{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Welcome to Money Transfer </title>
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel='stylesheet'>
      <link rel="shortcut icon" type="image/png" href="{% static 'image/favicon.ico' %}" />
   </head>
   <body>
      <div class="limiter">
         <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
               <div class="row">
                  <div class="col-md-6 col-sm-12">
                     <div class="login-img">
                        <img src="{% static 'image/overlay.png' %}" class="img-fluid" alt="Login">
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
               <h2>Reset your password Successfully</h2>
      <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
      <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p> 
                </div>
               </div>
            </div>
         </div>
      </div>
      <script src="{% static 'js/jquery.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}" ></script>
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/iconify.min.js' %}"></script>
      <script src="{% static 'js/script.js'%}"></script>
      <script></script>
   </body>
</html>