{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Welcome to Money Transfer </title>
      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
      <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" rel='stylesheet'>
      <link rel="shortcut icon" type="image/png" href="{% static 'image/favicon.ico' %}" />
   </head>
   <body>
      <div class="limiter">
         <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
               <div class="row">
                  <div class="col-md-6 col-sm-12">
                     <div class="login-img">
                        <img src="{% static 'image/overlay.png' %}" class="img-fluid" alt="Login">
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    {% if validlink %}
    <h3>Change password</h3>

               <form class="" id="" method="post">
                {% csrf_token %}
                  {{form|crispy}}
                <br>
                <button type="submit" class="btn new-add">Save</button>
                <button type="reset" class="btn clear-btn">Reset</button>  
            </form> 
              {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
                    <a href="{% url 'password_reset' %}">Request a new password reset token</a>

    </p>
  {% endif %}

                        </div>
               </div>
            </div>
         </div>
      </div>
      <script src="{% static 'js/jquery.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}" ></script>
      <script src="{% static 'js/bootstrap.js' %}"></script>
      <script src="{% static 'js/iconify.min.js' %}"></script>
      <script src="{% static 'js/script.js'%}"></script>
      <script></script>
   </body>
</html>