{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{%block title %}Add Customer Bank{%endblock%}

{% block breadcrumbs %}

   <li><a href="{% url 'administration:customer_bank' %}"><i class="iconify" data-icon="eva:arrow-ios-forward-fill"></i><span>Customer Bank</span></a></li>
   <li><i class="iconify" data-icon="eva:arrow-ios-forward-fill"></i><span>Add Customer Bank</span></li>

{% endblock %}

{% block breadcrumbsbtn %} 

   <button form="id-customerbankform" type="submit" class="btn new-add">Save</button>
   <button form="id-customerbankform" type="reset" class="btn clear-btn">Reset</button>

{% endblock %}

{% block content %} 

   <div class="row row-sm mg-b-20">
      <div class="col-sm-12 col-lg-12">
         <div class="card card-table-one">
         <form class="" id="id-customerbankform" method="post">
            {% csrf_token %}
            {% crispy form %}
         </form>
         </div>
      </div>
   </div>

{% endblock%}

{%block js%}

{% endblock %}
 