{% load static %}

<div class="mobile-floting-menu">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="index.html">Dashboard</a>
        <a href="send-money.html">Send Money</a>
        <a href="track-transfer.html">Track Transfer</a>
        <a href="find-agent.html">Find Nearest Agent</a>
        <a href="my-transaction.html">My Transaction</a>
        <a href="my-receiver.html">My Receivers</a>
    </div>
    <div class="mobile-menu" >
        <ul>
            <li>
                <a> <span class="iconify" data-icon="ci:menu-alt-03" style="font-size:24px;cursor:pointer" onclick="openNav()"></span></a>
                <p>menu</p>
            </li>
            <li>
                <a href="faq.html">
                <span class="iconify" data-icon="ant-design:question-circle-outlined"></span>
                <p>Help</p>
                </a>
            </li>
            <!-- <li><a href="#"><span class="iconify" data-icon="ant-design:user-outlined"></span><p>Admin</p></a></li> -->
            <li>
                <a href="index.html">
                <span  class="iconify" data-icon="bx:bx-home-alt"></span>
                <p>Home</p>
                </a>
            </li>
        </ul>
    </div>
</div>