{% extends 'base/customer-base.html' %}

{% load crispy_forms_tags %}

{%block title %} Edit Receiver {%endblock%}

{% block breadcrumbs %}

   <li><a href="{% url 'customeraccess:my_receiver' %}"><i class="iconify" data-icon="eva:arrow-ios-forward-fill"></i><span>My Receiver</span></a></li>
   <li><i class="iconify" data-icon="eva:arrow-ios-forward-fill"></i><span>Edit Receiver</span></a></li> 

{% endblock %}

{% block breadcrumbsbtn %} 

   <button form="id-sendmoneyform" type="submit" class="btn new-add">Save</button>
   <button form="id-sendmoneyform" type="reset" class="btn clear-btn">Reset</button>

{% endblock %}

{% block content %} 

   <div class="row row-sm mg-b-20">
      <div class="col-sm-12 col-lg-12">
         <div class="card card-table-one">
         <form class="" id="id-sendmoneyform" method="post">
            {% csrf_token %}
            {% crispy form %}
         </form>
         </div>
      </div>
   </div>

{% endblock%}

{%block js%}

{% endblock %}
 