{% extends 'base/customer-base.html' %}

{% load crispy_forms_tags %}

{%block title %} New Receiver {%endblock%}

{% comment %} {% block breadcrumbs %}

   <li><a href="{% url 'customeraccess:my_receiver' %}"><i class="iconify" data-icon="eva:arrow-ios-forward-fill"></i><span> My Receivers </span></a></li>
   <li><i class="iconify" data-icon="eva:arrow-ios-forward-fill"></i><span>Add New Receiver</span></a></li> 

{% endblock %}

   {% block breadcrumbsbtn %} 

      <button form="id-receiverform" type="submit" class="btn new-add">Save</button>
      <button form="id-receiverform" type="reset" class="btn clear-btn">Reset</button>

   {% endblock %} {% endcomment %}

{% block content %} 

   <div class="row row-sm mg-b-20">
   <div class="col-sm-12 col-lg-12">
      <div class="card card-table-one">
         <h6 class="card-title">Track Money Transfer</h6>
         <hr>
         <div class="tracking">
            <div class="track-money">
               <div class="col-lg-4 col-lg-4 col-sm-12">
                  <form>
                     <div class="edit-profile-detail">
                        <div class="form-group">
                           <label for="conatct" class="form-label">Tracking Number<sup>*</sup></label>
                           <input type="text" class="form-control" id="tracking" placeholder="#4844500">
                        </div>
                     </div>
                  </form>
                  <div class="tracking-btn">
                     <a href="{% url 'customeraccess:track_details' %}" class="">
                        <button type="btn" class="btn new-add">Track Now</button>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock%}

{%block js%}

{% endblock %}
 